@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

body{
    font-family: 'Poor Story', cursive;
    background-color: rgba(195, 208, 208, 0.796);

}
h1{
    font-size: 100px;
    font-weight: 500;
    font-display: inherit;
    margin: 10px;
    margin-bottom: 30px;
    padding-top: 40px;
    text-align: center;
}
#form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 700px;
    width: 400px;
    height: 45px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: black;
}
#form input{
    width: 300px;
    background-color: transparent;
    border-style: none;
    color: white;
}
#form button{
    background-color: white;
}

button{
    background-color: rgb(223, 235, 235);
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 5px;
    font-weight: 700;
}
#todo-list{
    background-color: rgb( 0, 0, 0, 0.6);
    margin: 0 auto;
    border-radius: 10px;
    max-width: 700px;
    width: 400px;
    text-align: left;
    font-size: 30px;

}
#todo-list p{
    font-size: 30px;
    margin: 15px;
    color: rgba(195, 208, 208, 0.796);
    text-decoration: dashed;
}
ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(195, 208, 208, 0.796);
    box-shadow: 0px 4px 4px black;

}