@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

body{
    font-family: 'Poor Story', cursive;
    background-color: rgba(205, 225, 225, 0.796);

}
h1{
    font-size: 120px;
    font-weight: 500;
    font-display: inherit;
    margin: 10px;
    padding-top: 40px;
    text-align: center;
}
input{
    border-radius: 10px;
    padding: 10px;
    margin-left: 10%;
    width: 70%;

}
button{
    background-color: rgb(223, 235, 235);
    color: black;
    border: 2px solid gray;
    border-radius: 10%;
    padding: 5px;
    margin: 10px;
}
p{
    font-size: 40px;
    font-style:oblique;
    color: white;
    text-decoration:dashed;
    background-color: darkcyan;
    padding-left: 10%;
    margin: 10px 0 10px 0;
}
div{
    background-color: rgb(119, 190, 190);
    margin: 50px 30% 10px 30%;
    text-align: left;
    font-size: 30px;

}